/* ================= GLOBAL STYLES ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffaef;
    scroll-behavior: smooth;
    padding: 0px;
    background-color: #9b0000;
}

.container {
    width: 100%;
    max-width: 1200px;
   
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.section-desc {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 50px;
    color: #666;
}

/* ================= NAVBAR ================= */
.navbar {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}
.nav-left {
    
    width: 92px;
    height: 46px;
   

}
.log {
    width: 92px;
    height: 46px;
}

.nav-center a {
    margin: 0 15px;
    text-decoration: none;
    color: #111111;
    transition: 0.3s;
}

.nav-center a:hover {
    color: #fc6621;
}

.btn-primary {
    background: #f12b2b;
    color: #fff;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #9b0000;
   
}

.sp {
  text-decoration: none;
  color: white;
}

/* ================= HERO ================= */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(242, 240, 234);
    font-size: 25px;
}

.parallax-layer {
    position: absolute;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: center;
    transition: transform 0.1s linear;
}

.layer-back {
    background-image: url("img/fond.png");
    z-index: 1;
}


.layer-middle {
    background-image: url("img/fond.png");
    opacity: 0.6;
    z-index: 2;
}

.layer-front {
    background-image: url("img/fond.png");
    opacity: 0.3;
    z-index: 3;
}

.hero-content {
    display:grid;
    place-items: center;
    z-index:4;
    max-width:80%; 
    
}

.hero-content h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:4.5rem;
    margin-bottom: 20px;
    width:100%;
    height: auto;
}
.hero-content p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    color: #faf5f0
}




/* ================= ABOUT ================= */
#about {
    padding: 0rem 0rem;
    justify-content: center;
    background-color: #fffaef;
    
}
.about h2 {
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    background-color: #111111;
    color: #faf5f0;
    padding: 1rem 0rem;
}

.about p {

    margin-top: 1.5rem;
   
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.about-img img {
  margin: 1rem;
    width: 100%;
    border-radius: 12px;
}

.about-box {
    background: #201f1f;
    padding: 30px;
    border-radius: 12px;
    margin: 1rem;
}

.about-box h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 15px;
    color: #fffaef;
}
.about-box p {
    color: #f4f2f0;
}

.social-icons a {
    margin-right: 15px;
    color: #fffaef;
    font-size: 1.2rem;
}

/* ================= Prendas ================= */

.carousel-section {
  padding: 0rem 0rem;
  color: #f0faf5;
  text-align: center;
  overflow: hidden;
  
  height: 600px;
  
}

.carousel-title {
padding: 1rem 0rem;
  font-size: 3rem;
  background-color: #111111;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.carousel-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 280px;        /* ancho del cuadro */
  aspect-ratio: 9 / 13;     /* 🔥 esto los hace 1x1 */
  margin: 0 15px;
 
  border-radius: 10px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fot {

    height: 400px;
    
    border-radius:1rem;
    padding: 0.3rem;
    }


.carousel-item:hover {
  transform: scale(1.05);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fffbf2;
  border: none;
  color: rgba(10, 10, 9, 0.974);
  font-size: 2rem;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 8px;
  z-index: 10;
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}

.carousel-btn:hover {
  background: #d6d1ce;
}

/* Responsive */
@media (max-width: 768px) {
  .carousel-item {
    min-width: 250px;
  }
}

/* ================= FOOTER ================= */
footer {
    background: #f4f0e7;
    position: relative;
    display: flex;
    padding: 2rem;
    
    
      
}

.footer-container {
    display: flex;
    width: 100%;
    gap: 15rem;
    position: center;

}

.footer-center a {
    display: flex;
    color: #141414;
    text-decoration: none;
    margin-bottom: 10px;
   
    margin: 2rem 0rem;
    
}

.footer-center a:hover {
    color: #fff;
}

.footer-right a {
    display: grid;
    margin: 3rem 0rem;
    color: #171717;
    font-size: 1.2rem;
    
}

/* WhatsApp Floating Button */
.whatsapp {
    position: fixed;
    bottom: 20px;
    height: 50px;
    width: 50px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 1.5rem;
    border-radius: 50rem;
    z-index: 1000;
    display: grid;
    place-items: center;
    text-decoration: none;

}

/* ================= REVEAL ANIMATION ================= */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* ================= RESPONSIVE ================= */
@media(max-width: 900px){
    .about-grid {
        grid-template-columns: 1fr;
    }

    .nav-center {
        display: none;
    }
}


/* ===== PRODUCTO PAGE ===== */
.imagenes {
    display: flex;

}

.producto-page {
    padding: 1rem;
}

.principal {
  width: 400px;
  height: 400px;
  
}

.fotpe {
    width: 400px;
    height: 400px;
    margin: 0px;
    
}

.pefot {
    width: 350px;
    height: 400px;
}


.producto-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  padding: 80px 10%;
  background: #fffaef;
}

.productoropa {

    width: 100% ;
    height: 100%;
    display: flex;
    gap: 1rem;
    margin: 0px;
   
}

.info2{
    margin-top: 0px;
}

/* GALERÍA */
.galeria {
  display: flex;
  flex-direction: column;
}

.imagen-principal {
  width: 50%;
  height: 50%;
  border-radius: 14px;
}

.miniaturas {
  display: grid;
  gap: 5px;

  height: 400px;
}

.miniaturas img {
  width: 75px;
  height: 90px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.miniaturas img:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* INFO */
.tri {
    margin: 0px 0px;
    height: 400px;
  
  
  
  
}

.info h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.precio {
  font-size: 1.8rem;
  color: #e63946;
  margin-bottom: 25px;
  font-weight: bold;
}

/* TALLAS */
.tallas button {
  padding: 10px 16px;
  margin-right: 10px;
  border: 1px solid #111;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.tallas button:hover {
  background: #111;
  color: white;
}

.tallas button.active {
  background: #111;
  color: white;
}

/* CANTIDAD */
.cantidad {
  margin: 25px 0;
}

.cantidad input {
  width: 80px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* BOTÓN */
.btn-carrito {
  background: #111;
  color: white;
  padding: 16px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-carrito:hover {
  background: #333;
  transform: scale(1.02);
}

/* TEXTOS EXTRA */
.envio {
  margin-top: 10px;
  color: #666;
}

.stock-alert {
  color: red;
  font-size: 0.9rem;
}

/* DESCRIPCIÓN */
.descripcion, .detalles {
  margin-top: 30px;
}

.detalles ul {
  padding-left: 20px;
}


body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

.row {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

input,
select,
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background: #fafafa;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #000000;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #fffcf6;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #f0dbbc;
}

.bt {
  display: flex;
  justify-content: center;
}

.containert {
max-width: 700px;
margin-top: 8rem; 
background: #ffffff;
padding: 30px;
border-radius: 8px;
}


.sp {
color: #be1616;
font-family: Arial, Helvetica, sans-serif;
}
